html {
    touch-action: manipulation
}

h1 {
    text-align: center;
    margin: 5px 0px 5px 0px;
    background-color: slateblue;
}

div#menu-div {
    height: 65px;
}

table#menu {
    margin: auto 0 0 0;
}

div#explanations {
    text-align: left;
}

div#conten-wrapper {
    width: 780px;
    margin: auto;
}

span {
    font-size: xx-large;
}

li {
    font-size: x-large;
}

span {
    font-size: xx-large;
}

select {
    height: 60px;
    width: 195px;
    font-size: x-large;
}

input {
    padding: 0px;
    margin: 0px;
    border-radius: 1px;
    height: 60px;
}

input.button {
    font-size: xx-large;
    cursor: pointer;
    border-style: none;
    -webkit-appearance: none;
}

.header {
    background-color: whitesmoke;
    color: black;
}

input.button:hover {
    background-color: lightblue;
}

input.button-main {
    width: 115px;
}

input.button-sub {
    width: 70px;
}

#q-number {
    width: 110px;
    font-size: xx-large;
    text-align: right;
    border-style: none;
}

input {
    border-style: none;
    text-align: center;
}

input.cell-input {
    height: 80px;
    width: 80px;
    font-size: 50px;
}

input.cell-input:focus {
    background-color: lightskyblue;
}

input.cell {
    height: 80px;
    width: 80px;
    font-size: 50px;
    text-align: center;
    background-color: #f0fff0;
}

table {
    margin: auto;
}

tr {
    border-style: none;
}

td.block {
    border-style: none;
}

.transparent {
    border-style: none;
    margin: 0 0 0 0;
    padding: 0;
}

.open {
    background-color: slateblue;
}

.close {
    background-color: midnightblue;
}

.close:hover {
    background-color: slateblue;
}

span.as-tab {
    margin: 0px 10px 0px 4px;
    cursor: pointer;
}

.invalid {
    background-color: tomato;
}

.valid {
    background-color: seagreen;
}

.details {
    font-size: x-large;
}